<a href="https://colab.research.google.com/github/ReidelVichot/PUS2022_Heat-TreesPHL/blob/main/MidTermExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.1-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 28.1 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (21.3)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.8.5.post1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.6 MB)
     |████████████████████████████████| 16.6 MB 72.8 MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.3.5)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 49.9 MB/s
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->geopandas) (3.0.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.12.1 munch-2.5.0 pyproj-3.4.0

In [4]:
import geopandas as gpd
import pandas as pd

In [7]:
#Loading the heat vulnalability data
heat = gpd.GeoDataFrame.from_file("https://opendata.arcgis.com/api/v3/datasets/ee1f9ce6aa6f41f08fcdfa5101f203d7_0/downloads/data?format=shp&spatialRefId=4326&where=1%3D1")

In [9]:
#Dispalying the data info
heat.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID_1  384 non-null    int64
 1   GEOID10     384 non-null    object
 2   NAME10      384 non-null    object
 3   OBJECTID    376 non-null    float64
 4   HSI_SCORE   376 non-null    float64
 5   HEI_SCORE   374 non-null    float64
 6   HVI_SCORE   374 non-null    float64
 7   N_VERYHIGH  376 non-null    float64
 8   Shape__Are  384 non-null    float64
 9   Shape__Len  384 non-null    float64
 10  geometry    384 non-null    geometry
dtypes: float64(7), geometry(1), int64(1), object(2)
memory usage: 33.1+ KB

In [10]:
#Check the data head
heat.head()

,OBJECTID_1,GEOID10,NAME10,OBJECTID,HSI_SCORE,HEI_SCORE,HVI_SCORE,N_VERYHIGH,Shape__Are,Shape__Len,geometry
0,1,42101019000,190,19.0,0.628858,0.130289,0.935255,0.0,1.350244e+06,5483.874734,"POLYGON ((-75.09490 40.01049, -75.09497 40.010..."
1,2,42101019100,191,20.0,0.538256,2.208449,2.963969,1.0,2.491485e+06,7728.470750,"POLYGON ((-75.10715 40.01674, -75.10706 40.016..."
2,3,42101019200,192,21.0,0.644698,1.705167,2.676547,1.0,1.120759e+06,5638.148182,"POLYGON ((-75.10760 39.99967, -75.10815 39.999..."
3,4,42101019700,197,22.0,-0.807921,2.763526,3.156173,1.0,7.688302e+05,3791.744189,"POLYGON ((-75.13586 40.01199, -75.13654 40.012..."
4,5,42101019800,198,23.0,-0.542459,2.549294,2.885302,1.0,9.234407e+05,4189.517838,"POLYGON ((-75.13672 40.00803, -75.13686 40.007..."

In [11]:
#Loading the tree distribution data
tree = gpd.GeoDataFrame.from_file("https://opendata.arcgis.com/api/v3/datasets/30ef36e9e880468fa74e2d5b18da4cfb_0/downloads/data?format=shp&spatialRefId=4326")

In [12]:
tree

,OBJECTID,TREE_NAME,TREE_DBH,YEAR,LOC_X,LOC_Y,geometry
0,1,GINKGO BILOBA - GINKGO,36.0,2021,-75.210501,39.983823,POINT (-75.21050 39.98383)
1,2,ACER PALMATUM - JAPANESE MAPLE,NaN,2021,-75.210532,39.983734,POINT (-75.21053 39.98374)
2,3,ACER PALMATUM - JAPANESE MAPLE,8.0,2021,-75.210405,39.983749,POINT (-75.21041 39.98376)
3,4,ACER PALMATUM - JAPANESE MAPLE,12.0,2021,-75.210602,39.983943,POINT (-75.21060 39.98395)
4,5,ACER PSEUDOPLATANUS - SYCAMORE MAPLE,17.0,2021,-75.210273,39.983754,POINT (-75.21028 39.98376)
...,...,...,...,...,...,...,...
152448,152449,CERCIS CANADENSIS - EASTERN REDBUD,5.0,2021,-75.183200,39.975477,POINT (-75.18320 39.97549)
152449,152450,MALUS SPECIES - OTHER CRABAPPLE,3.0,2021,-75.183211,39.975387,POINT (-75.18321 39.97539)
152450,152451,SYRINGA RETICULATA - JAPANESE TREE LILAC,7.0,2021,-75.063313,40.053375,POINT (-75.06332 40.05338)
152451,152452,SYRINGIA RETICULATA - IVORY SILK JAPANESE TREE...,2.0,2021,-75.165880,40.029741,POINT (-75.16588 40.02975)
152452,152453,ACER RUBRUM - RED SUNSET RED MAPLE,2.0,2021,-75.165700,40.044750,POINT (-75.16570 40.04476)

In [13]:
#Checking the tree data info
tree.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 152453 entries, 0 to 152452
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   OBJECTID   152453 non-null  int64
 1   TREE_NAME  144676 non-null  object
 2   TREE_DBH   152241 non-null  float64
 3   YEAR       152453 non-null  object
 4   LOC_X      152453 non-null  float64
 5   LOC_Y      152453 non-null  float64
 6   geometry   152453 non-null  geometry
dtypes: float64(3), geometry(1), int64(1), object(2)
memory usage: 8.1+ MB

In [14]:
tree.describe()

            OBJECTID       TREE_DBH          LOC_X          LOC_Y
count  152453.000000  152241.000000  152453.000000  152453.000000
mean    76227.000000      12.956631     -75.156120      39.993043
std     44009.534632      14.024025       0.062479       0.051348
min         1.000000       0.000000     -75.282717      39.874967
25%     38114.000000       4.000000     -75.197080      39.951005
50%     76227.000000      10.000000     -75.167736      39.982490
75%    114340.000000      20.000000     -75.131910      40.035098
max    152453.000000    2028.000000     -74.958778      40.137451

In [15]:
heat.describe()

,OBJECTID_1,OBJECTID,HSI_SCORE,HEI_SCORE,HVI_SCORE,N_VERYHIGH,Shape__Are,Shape__Len
count,384.000000,376.000000,3.760000e+02,374.000000,374.000000,376.000000,3.840000e+02,384.000000
mean,192.500000,188.500000,-1.063830e-10,0.005262,0.013235,0.196809,1.639419e+06,5555.206372
std,110.995495,108.686092,1.414214e+00,1.730926,1.995821,0.398116,2.541415e+06,4077.153549
min,1.000000,1.000000,-4.382446e+00,-4.779247,-6.188905,0.000000,1.797240e+05,1726.924865
25%,96.750000,94.750000,-8.375708e-01,-0.967293,-1.365208,0.000000,6.795225e+05,3569.749650
50%,192.500000,188.500000,-1.498281e-01,0.042924,0.121218,0.000000,1.024838e+06,4471.463073
75%,288.250000,282.250000,8.429508e-01,1.005599,1.415511,0.000000,1.645660e+06,6079.035854
max,384.000000,376.000000,6.520653e+00,6.103105,5.062507,1.000000,3.498002e+07,40164.961498